.mypage__left--list
  ▼ メニュー

= link_to user_path(current_user.id), class: "gray-link" do
  - if controller.controller_name == "users" && controller.action_name == "show"
    .mypage__left--list.current-list
      作成クイズ一覧
  - else
    .mypage__left--list
      作成クイズ一覧

= link_to new_course_path, class: "gray-link" do
  - if controller.controller_name == "courses" && controller.action_name == "new"
    .mypage__left--list.current-list
      クイズ作成
  - else 
    .mypage__left--list
      クイズ作成

= link_to edit_user_registration_path, class: "gray-link" do
  - if controller.controller_name == "registrations" && controller.action_name == "edit"
    .mypage__left--list.current-list
      アカウント情報編集
  - else 
    .mypage__left--list
      アカウント情報編集

= link_to edit_user_registration_path, class: "gray-link" do
  - if controller.controller_name == "registrations" && controller.action_name == "edit"
    .mypage__left--list.current-list
      パスワード変更
  - else 
    .mypage__left--list
      パスワード変更