body {
  background-color: whitesmoke;
}

.header {
  background-color: $mainColor;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  line-height: 60px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);

  &__left {
    display: flex;
    justify-content: flex-start;

    &--title {
      @include titleFont();
      padding: 0 3%;
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;

    &--link {
      margin: 0 15px;
      font-weight: bold;
    }
  }
}

.main {
  display: flex;
  justify-content: flex-start;
  width: 100vw;

  &__content {
    width: 80%;
  }

  &__sidebar {
    width: 20%;
    background-color: silver;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: slategray;
  padding: 0 5%;
  line-height: 150px;

  &__left {

    &--title {
      @include titleFont();
      padding: 0 3%;
    }
  }
  
  &__right {}
}

// 白文字リンク
.white-link {
  color: white;

  &:hover {
    opacity: 0.6;
  }
}

// ボタン型リンク
.link-button {
  display: block;
  text-align: center;
  height: 60px;
  line-height: 60px;
  width: 120px;
  border-radius: 10px;
  color: white;
  cursor: pointer;

  &:hover {
    @include hoverBox();
  }

  &:active {
    @include activeBox();
  }
}

.main-color {
  background-color: $mainColor;
}
.gray {
  background-color: silver;
}
