.course-list {
  width: 800px;
  margin: 20px auto 60px;
  min-height: 500px;

  &__header {
    @include bigFont();
    text-align: center;
  }

  &__main {}

  &__footer {
    padding-top: 20px;
    text-align: center;
  }
}

.course {
  background-color: white;
  border: $silverBorder;
  display: flex;
  justify-content: flex-start;
  margin: 15px 0;
  min-height: 120px;
  border-radius: 10px;

  &__left {
    width: 18%;
    text-align: center;

    &--upper {
      height: 60px;
      line-height: 60px;
      margin: 20px auto 20px;
      color: black;
    }

    &--lower {
      font-size: 0.8rem;
      color: gray;
    }
  }

  &__right {
    max-width: 82%;

    &--name {
      font-weight: 700;
      padding: 15px 10px 0;
      font-size: 1.1rem;
      color: black;
    }
    
    &--desc {
      padding: 10px 10px;
      word-wrap: break-word;
      color: gray;
    }
  }

  &:hover {
    @include hoverBox();
  }

  &:active {
    @include activeBox();
  }
}
