.detail {
  @include quizBox();
  position: relative;

  &__header {

    &--title {
      @include titleFont();
      text-align: center;
    }
  }

  &__main {
    display: flex;
    justify-content: flex-start;
    margin: 40px 0 0 0;

    &--numOfQuestion {
      padding: 40px;
    }

    &--desc {
      max-width: 600px;
      word-wrap: break-word;
    }
  }
  
  &__footer {
    position: absolute;
    left: 40px;
    bottom: 40px;
    right: 40px;
    display: flex;
    justify-content: space-between;

    &__left {
      &--inner {
        padding-top: 20px;
      }
    }

    &__right {
      display: flex;
      justify-content: space-evenly;

      &--inner {
        padding-left: 20px;
      }
    }
  }
}