.quiz-board {
  @include quizBox();
  position: relative;

  &__header {

    &--title {
      @include titleFont();
      text-align: center;
    }
  }

  &__main {
    margin: 20px 40px 0;

    &--upper {
      display: flex;
      justify-content: space-between;

      .choices {
        .sentence {
          font-weight: bold;
        }

        .choice {
          padding: 10px 20px 0;
        }
      }
    }

    &--lower {
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 40px;
      left: 80px;
      right: 40px;

      .blue-commentary {
        @include commentaryBox();
        border: 1px solid slateblue;
        background-color: lightskyblue;
      }

      .red-commentary {
        @include commentaryBox();
        border: 1px solid crimson;
        background-color: coral;
      }

      .link-button {
        margin: 70px 0 0 0;
      }
    }

    &--result {

      .result-text {
        @include bigFont();
        text-align: center;
      }

      .result-buttons {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        bottom: 40px;
        right: 40px;

        &--inner {
          margin: 0 0 0 20px;
        }
      }
    }
  }
}

.history-list {
  padding: 40px 0 0 40px;

  .history {
    padding: 0 0 5px 0;
  }
}

.choose-button {
  display: block;
  text-align: center;
  border-radius: 10px;
  color: black;
  font-size: 0.9rem;
  border: $silverBorder;

  &:hover {
    @include hoverBox();
  }

  &:active {
    @include activeBox();
  }

  &:focus {
    outline: 0;
  }
}

// 正解の選択肢を青くする
.correct-answer {
  border: 1px solid slateblue;
  background-color: lightskyblue;
}

// 選ん多選択肢の枠線の色を変える
.choosed {
  border: 1px solid crimson;
}

// 丸マーク
.correct {
	display: inline-block;
	width: 150px;
	height: 150px;
  position: relative;
  font-size: 50px;
  
  span {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    margin: -42% 0 0 -42%;
    border-radius: 50%;
    border: .40em solid #2196F3;
  }
}

// バツマーク
.incorrect {
	display: inline-block;
	width: 150px;
	height: 150px;
  position: relative;
  
  span::before,
  span::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84%;
    height: 16%;
    margin: -8% 0 0 -42%;
    background: #E91E63;
  }

  span::before {
    transform: rotate(-45deg);
  }

  span::after {
    transform: rotate(45deg);
  }
}
