= render "shared/header"

.main
  .main__content
    .mypage
      .mypage__left
        = render "shared/mypage_menu"

      .mypage__right
        .mypage__right--title
          クイズ編集
        .mypage__right--main
          = render "shared/course_form"

  .main__sidebar

= render "shared/footer"