// 要素を浮かす
@mixin hoverBox {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
  transition: all 0.3s ease 0s;
}

// 要素を沈める
@mixin activeBox {
  transform: translateY(0.03em);
  box-shadow: initial;
  transition: all 0.25s ease 0s;
}

// フォームを浮かす
@mixin hoverForm {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.05em);
  border: $silverBorder;
  border-radius: 3px;
  font-size: 13px;

  &:focus {
    outline: 0;
  }
}

// タイトル文字
@mixin titleFont {
  font-size: 2rem;
  font-weight: bold;
}

// 大きめ文字
@mixin bigFont {
  font-size: 1.2rem;
  font-weight: bold;
}

// クイズ部分の枠
@mixin quizBox {
  @include hoverBox();
  width: 760px;
  margin: 60px auto;
  min-height: 420px;
  border: 1px solid silver;
  padding: 20px;
  border-radius: 10px;
}

// クイズ解説文
@mixin commentaryBox {
  width: 400px;
  height: 100px;
  word-wrap: break-word;
  padding: 20px;
  color: white;
}
